<!DOCTYPE html>
<html>
<head lang="en">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/resources/bower_components/bootswatch/flatly/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/public/css/blueprint.css">
</head>
<body id="loginApp">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Fullstack Blueprint</a>
        </div>
    </div>
</nav>

<div class="container">

    <main ng-controller="BaseFormCtrl">

        <tt-error-messages extra-styles="access-screen"></tt-error-messages>

        <form ng-submit="onLogin()" name="form" novalidate ng-controller="LoginCtrl" class="form-group">

            <h3>Sign In</h3>
            <div class="form-group">
                <input type="text" ng-focus="focus('username')"  ng-blur="blur('username')" ng-model="vm.username"
                       name="username" class="form-control input-sm" placeholder="Username" required ng-minlength="6">

                <div class="error-messages" ng-show="isMessagesVisible('username')" ng-messages="form.username.$error" ng-cloak>
                    <div ng-message="required">The username is mandatory</div>
                    <div ng-message="minlength">must have minimum 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" ng-focus="focus('password')"  ng-blur="blur('password')" ng-model="vm.password"
                       name="password" class="form-control input-sm" placeholder="Password" required ng-minlength="6"
                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
                <div class="error-messages" ng-show="isMessagesVisible('password')" ng-messages="form.password.$error" ng-cloak>
                    <div ng-message="required">The password is mandatory</div>
                    <div ng-message="minlength">must have minimum 6 characters</div>
                    <div ng-message="pattern">At least one number and uppercase</div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Log In</button>
                <div class="pull-right">
                    <a href="/resources/public/new-user.html">Register</a>
                </div>
            </div>

        </form>

    </main>


</div>

<script type="text/javascript" data-main="/resources/public/js/run-loggin-app"
        src="/resources/bower_components/requirejs/require.js"></script>
</body>
</html>